MONGO_URI=mongodb://localhost:27017
DB_NAME=stikerly

ADMIN_KEY=changeme

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

MEME_REDDIT_SUBREDDITS=MemeEconomy,memes,dankmemes
MEME_REDDIT_LIMIT=15
MEME_REDDIT_TIMEFRAME=day


GIPHY_API_KEY=

MEME_GIPHY_LIMIT=10
